# Node / Next.js
node_modules/
.next/
out/
dist/

# Go build artifacts
*.exe
*.out
*.test
*.log

# Env & secrets
.env
.env.local
.env.*.local

# OS / misc
.DS_Store

# Ignore package manager lock files if needed
# yarn.lock
# pnpm-lock.yaml
